body{
   font-family: 'Courier New', Courier, monospace;
   color: white;
   margin: 0px;
   padding: 0px;
   background: url('../image/gym2.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
  
}
.left{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 10px;
}
.left img{
    width: 100px;
    filter:invert(50%)
}
.left div{
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}
.mid{
    display: block;
    width: 40%;
margin: 20px auto;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration:none ;
    padding: 14px 12px;
}
.navbar li a:hover,.navbar li a.active{
text-decoration: underline;
color: rgb(240, 6, 6);
}
.right{
    position: absolute;
    right: 34px;
    top:40px;
    display: inline-block;
}
.btn{
    margin: 0px 9 px;
    background-color: black;
    color: white;
    padding:5px 10px;
    border: 2px solid grey;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
background-color: white;
color: black;
}
.container{
  border: 2px solid white;
  margin: 80px 320px;
  padding: 50px;
  width: 40%;
  border-radius: 100px;
  opacity: 0.8;
}
.form-group input{
    text-align: center;
    justify-content: center;
    display: block;
    width: 294px;
    padding: 5px;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 25px;
    border-radius:5px
}
input:hover{
    color: white;
    background-color: rgb(247, 158, 158);
}
.container h1{
    text-align: center;
    font-size: 30px;
}
.container button{
    display: block;
    margin: 10px auto;
     width: 300px;
    padding: 5px;
    border: 2px solid black;
    font-size: 25px;
    border-radius:50px

}